<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.status}"></td>
        <td><a th:href="@{/edit-task/{id}(id=${task.id})}">Edit</a></td>
    </tr>
    <form action="/create-task" method="get">
        <button type="submit">Create Task</button>
    </form>

</table>
</body>
</html>